@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #eddd5e;
  --color-secondary: #bbb;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Inter', sans-serif; 
}


.container {
  max-width: 1100px;
  min-height: 100vh;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.theme {
  transition: 0.5s all ease-in-out;
}

.light {
  background-color: rgb(255, 255, 255);
  color: #111;
}

.dark {
  background-color: #000000;
  color: white;
}


.cl-formButtonPrimary {
  font-size: 14px;
  text-transform: none;
  background-color:    #eddd5e

}

.cl-formButtonPrimary:hover,
.cl-formButtonPrimary:focus,
.cl-formButtonPrimary:active {
  background-color:  #dccc59
}
/* global.css */
.cl-card.cl-signIn-start {
  box-shadow: none !important;
}
.cl-card.cl-signUp-start {
  box-shadow: none !important;
}