@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #eddd5e;
  --color-secondary: #bbb;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Inter', sans-serif; /* Ensure font is applied */
}


.container {
  max-width: 1100px;
  min-height: 100vh;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.theme {
  transition: 0.5s all ease-in-out;
}

.light {
  background-color: rgb(255, 255, 255);
  color: #111;
}

.dark {
  background-color: #000000;
  color: white;
}
